package views

import (
    "github.com/CaffeineOrDeath/banner-gen/internal/views/components"
)
templ Layout( title string ){
    <!DOCTYPE html>
    <html lang="en">
    // all the meta tags
    @components.Header(title)
    @components.Img()
        // start content
        <body>

            @components.Color()
            @components.Font()
            @components.Size()
        </body>
        // copyright
        @components.Footer()
    </html>
}
